<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="JS/angular.js"></script>
    <script src="JS/angular-route.js"></script>
    <script src="JS/script.js"></script>
    <script src="JS/cl_JS.js"></script>
</head>
<body ng-app="studentClient">
{{1+2}}
<div ng-view></div>
</body>
</html>