<!DOCTYPE html>
<html>

<head>
  <script src="JS/angular.js"></script>
  <!--<script src="JS/jquery.min.js" data-semver="2.1.1" data-require="jquery@*"></script>-->
  <link href="style.css" rel="stylesheet" />
  <script src="JS/script.js"></script>
</head>

<body ng-app="studentApp">
  {{2+1}}
  <div ng-controller = "addingQues">
    Questions :
    <br>
    <textarea autofocus="autofocus" ng-model="ques"></textarea>
    <br>Option 1:
    <br>
    <input type="text" ng-model="opt1">
    <div class="checkBox">Correct Answer
      <input  id="optcorrect1" type="checkbox">
    </div>
    <br>Option 2:
    <br>
    <input  type="text" ng-model="opt2">
    <div class="checkBox">Correct Answer
      <input id="optcorrect2" type="checkbox">
    </div>
    <br>Option 3:
    <br>
    <input type="text" ng-model="opt3">
    <div class="checkBox">Correct Answer
      <input id="optcorrect3"  type="checkbox">
    </div>
    <br>Option 4:
    <br>
    <input type="text" ng-model="opt4">
    <div class="checkBox">Correct Answer
      <input id="optcorrect4"  type="checkbox">
    </div>
    <br>
    <center><button ng-click="addQues()">Save Quesion</button></center>
    <ul>
      <li ng-repeat="items in questions">Q:{{items.questionID}}
        {{items.Question}}<hr>
          <div class="options">
          1: {{items.opt1}}<br>
          2: {{items.opt2}}<br>
          3: {{items.opt3}}<br>
          4: {{items.opt4}}<br>
          5: {{items.answer}}<br>
          </div>
          <br>
          <br>
      </li>
  </ul>
  </div>
  </body>

</html>
