
    <span ng-repeat="items in questions">Q:{{items.questionID}}
        {{items.Question}}<hr>
        <div class="options">
            1: {{items.opt1}}<br>
            2: {{items.opt2}}<br>
            3: {{items.opt3}}<br>
            4: {{items.opt4}}<br>
            5: {{items.answer}}<br>
        </div>
        <br>
        <br>
    </span>


